/* .signup-container{
    margin:5rem auto;
    display: block;
    min-height: 100vh;
    padding: 3rem ;   
}
.form{
  position: relative;
   width: 25rem;
   height: 25rem;
   margin: 4rem auto;
   display: block;
   border: 1rem solid white;
   border-radius: 10px;
   padding: 1rem 2rem;
   overflow: hidden;

}
.signup-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
   
}
.login{
    cursor: pointer;
}
.signup{
    cursor: pointer;
}
.form-body{
    display: flex;
}

.inputt{
    width: 100%;
    height: 5vh;
    margin-bottom: 1.5rem;
    padding-left: .5rem;
    
}
.loginform{
    position: absolute;
    width: 100%;
    transition: .2s linear;
    text-align: center;
    right: 0rem;

}
.loginform.active{
    position: absolute;
    width: 100%;
   right: 30rem;
   transform: translateX(30rem);
   transition: .2s linear;
}
.signupform{
    position: absolute;
    left: 23rem;
    transition: .2s linear;
    width: 100%;
    
}
.signupform.active{
    position: absolute;
    width: 100%;
    left: 0rem;
    transform: translateX(30rem);
    transition: .2s linear;
}
.signup-btn{
    border-radius: 7px;
    background-color: orange;
    cursor: pointer;
}
.indicator{
    width: 14%;
    height: .1vh;
    background-color: black;
    margin-bottom: 2rem;
}
@media screen and (max-width:500px) {
    .form{
        width: 20rem;
        height: 25rem;
        margin: 3rem auto;
    }
    
}
@media screen and (max-width:400px) {
    .form{
        width: 17rem;
        height: 25rem;
        margin: 3rem auto;
        padding: 0rem 1rem;
    }
    .signup-container{
        margin:5rem auto;
        display: block;
        min-height: 100vh;
        padding: 1rem ;
    }
    
} */

.account {
    padding: 100px 0;
  }
  .form-container {
      max-width:25rem;
    background: #fff;
    height: 25rem;
    text-align: center;
    position: relative;
    padding: 2rem 0;
    margin:3rem auto;
    border: 1rem solid whitesmoke;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .form-btn {
    display: flex;
    padding: 0rem 3rem;
    justify-content: space-between;
  }
  .span{
    cursor: pointer;
  }
  .indicator {
      transform: translateX(16.5rem);
    width: 3rem;
    margin: 0rem 0rem;
    border: none;
    background: orange;
    height: 3px;
    margin-top: 8px;
    transition: .5s linear;
  }
  .indicator.active{
    transform: translateX(2.8rem);
    transition: .5s linear;

  }
  .form-container form {
      padding: 0 2rem;
    width: 100%;
    position: absolute;
    top: 7rem;
    transition: transform 0.7s;
  }
  form input {
    width: 100%;
    height: 6vh;
    margin-bottom: 1rem;
    padding: 0 .5rem;
    border: 1px solid var( --bg-color);
    outline: none;
  }
  form input:focus {
    outline: 1px solid orange;
  }
  form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin-bottom:  1rem;
    background-color: orange;
    padding: .6rem;
    border-radius: 7px;
  }
  .loginForm {
    left: -350px;
    transition: .5s linear;
  }
  .loginForm.active{
    left: 0px;
    transition: .5s linear;
  }
  .signupForm{
    right: 0px;
    transition: .5s linear;

  }
  .signupForm.active{
    right: -350px;
    transition: .5s linear;
  }
  .btn-login{
    display: block;
    width: 100%;
    text-align: center;
    padding: .6rem;
    background-color: orange;
    border-radius: 7px;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  .forgotten{
   font-size: 1rem;
   color: black;

  }
  @media screen and (max-width:450px) {

    .form-container {
        max-width:20rem;
    }
    .indicator {
        transform: translateX(11.5rem);
    }
    .form-container form {
        padding: 0 1rem;
    }
  }

